{% if site.dash.avatar_source == "github" and site.dash.github_username %}
{% capture avatar_image %}
    https://github.com/{{ site.dash.github_username }}.png
{% endcapture %}
{% elsif site.dash.avatar_source == "local" and site.dash.avatar_path %}
{% capture avatar_image %}
    {{site.dash.avatar_path}}
{% endcapture %}
{% elsif site.plugins contains "liquid-md5" %}
{% capture avatar_image %}
    /assets/w3b.png
{% endcapture %}
{% endif %}
{% if avatar_image %}
<img style="width: 15%" src="{{ avatar_image }}" class="author-avatar" alt="Avatar" />
{% endif %}